/* Landscape phones and down */

@media (max-width: 360px) {
	.mobile-logo {
    display: block;
	margin: 0 auto;
	}
	
	.agree-container {
    margin: 0 -15px 0px;
}

	#header .logo-image {
	    display: none;
    }
	
	/* for footer img */
	#footer img {
		
	}
	.f-s{ font-size:12px; color:#fff; font-weight:bold;}
	.gat-pass{ margin: 10px 0 0 0 ;}
	
.form-box input {
    width: 78%;
}
	
	#container #header {
    margin: 0 -15px 15px;
}
	
	.agree-container .agree {
    background: rgba(0, 0, 0, 0) url("../img/m-contact.png") no-repeat scroll 0 0;
    height: 40px;
    text-indent: -999px;
    width: 150px;
}
}

@media (max-width: 767px) {
	#header {
	    margin-bottom: 80px;
	    margin-left: -15px;
	    margin-right: -15px;
	    margin-top: 0px;
    }
	.plus {
	    position: static;
	    width: 100%;
	}
	.single {
		margin: 0;
	}
	.single .aphone {
		margin-left: auto !important;
		margin-right: auto;
	}
	
.form-box input {
    width: 78%;
}



}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.aphone {
    	margin-left: 0px !important;
    	margin-top: -5px;
    }
    .single img {
		width: 80%;
	}

	.plus {
	    height: 80px;
	    left: -21px;
	}

.form-box input {
    width: 78%;
}

}
